* {
    box-sizing: border-box;
}

body {
    background-color: #232323;
    color: #fff;
    text-align: center;
}

button {
    width: 1fr;
    height: 1fr;
    background-color: crimson;
}

input {
    outline: none;
    border: none;
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
}

section {
    margin: auto;
}

.task-form-section {
    min-width: 60%;
    width: 1000px;
    max-width: 100%;
    background-color: #454545;
    padding: 2rem;
}

.task-form-section h2 {
    margin-top: 0;
}

.tasks-section {
    min-width: 60%;
    width: 1000px;
    max-width: 100%;
    width: 90%;
    margin: 2rem auto;
    background-color: #343434;
    padding: 1.3rem;
}
